body {
    margin: 0px;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    font-size: 65px;
    font-family: "Lucida Bright", Georgia, serif;
    text-align: center;
    color: white;
}

body {
    background-color: skyblue;
    background: linear-gradient(to top, #C0CAAD, #9DA9A0);
    background-repeat: no-repeat;
    background-attachment: fixed; /*stretches background*/
    background-position: center;
    background-size: cover;
    margin: 0px;
}

.navbar ul {
    list-style-type: none;
    /* background-color: #D2691E; */
    padding: 0px;
    margin: 0px;
    padding-top: 2px;
    padding-bottom: 2px;

    display: flex;
    justify-content: center;
    /* justify: center; */
}


.navbar li {
    margin-right: 120px;
}

.navbar a {
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: "Lucida Bright", Georgia, serif;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    text-align: center;
}

.navbar a:hover {
    background-color: #aa0e4a;
}