#pd-button-container {
    display: inline-block;
    background-color: lightgray;
    width: 500px;
    border: 1px solid lightgray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    margin: 50px;
}

#title-container {
    background-color: tomato;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
}

#chef-pic {
    width: 40px;
    height: 40px;
    margin: 10px 0px 10px 0px;
}

#chef-name {
    display: inline;
    /* margin-left: 10px; */
    font-size: 20px;
    font-weight: bold;
}

#num-dishes {
    font-weight: bold;
}
#pd-message {
    text-align: center;
}

#pd-button {
    text-align: center;
}

#promote-demote {
    background-color: green;
    color: white;
    display: inline-block;
    /* text-align: center; */
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
}