#pdbutton-container {
    display: inline-block;
    background-color: rgb(254, 248, 248);
    width: 500px;
    /* Remove fixed height */
    /* height: auto; */
    border: 1px solid rgb(254, 248, 248);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    margin: 50px;
    /* Adjust overflow to ensure content does not overflow */
    overflow: auto;
}


#pdbutton-container #title-container {
    background-color: tomato;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
}

#chef-pic {
    width: 40px;
    height: 40px;
    margin: 10px 0px 10px 0px;
}

#chef-name {
    display: inline;
    /* margin-left: 10px; */
    font-size: 20px;
    font-weight: bold;
}

#num-dishes {
    font-weight: bold;
}

#pdbutton-container #message {
    text-align: center;
}

#chef-meals {
    display: flex;
    justify-content: center;
    margin: 0px;
}

#promoteButton {
    background-color: green;
    color: white;
    display: inline;
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
    max-width: 15%;
    /* margin-top: 10px; */
}

.pdButton-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin-top: 10px; /* Add margin to separate from other elements */
  }