@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedan+SC&display=swap');

* {
    font-family: 'Poppins', 'Trebuchet MS', 'Cambria';
}

h1 {
    font-family: 'Permanent Marker', 'Poppins', 'Trebuchet MS', 'Cambria';
    font-size: 50px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: black;
    margin: 0px 20px 0px 0px;
    display: block;
    /* width: 50px; */
}

body {
    /* background: linear-gradient(to top, #C0CAAD, #9DA9A0); */
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-attachment: fixed; /*stretches background*/
    background-position: center;
    background-size: cover;
    font-family: 'Poppins', 'Trebuchet MS', 'Seguoe UI';
    
}

#order-prompt {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
} 