
body {
    margin: 0px

}
h1 {
    font-size: 40px;
    text-align: center;
    color: black;
    margin-right: 50px;
    display: inline-block;
}

.user-navbar {
    background-color: rgb(200, 212, 222);
    margin: 0px;
    width: 100%;
    background: linear-gradient(to top, rgb(200, 212, 222), aliceblue);

}

.user-navbar ul {
    list-style-type: none;
    /* background-color: #D2691E; */
    padding: 0px;
    margin-bottom: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: black;
    display: flex;
    justify-content: center;
    
}

.user-navbar li {
    margin-right: 50px;
}

.user-navbar a {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Poppins', 'Trebuchet MS', 'Cambria';
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    text-align: center;
}

.user-navbar a:visited {
    color: black;
}

.user-navbar a:hover {
    background-color: #aa0e4a;
}

.user-navbar img {
    width: 40px;
    position: relative;
    top: 3px;
    cursor: pointer;
}