.confirm-button-container {
  display: flex;
  justify-content: center;
}

.confirm-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.confirm-button:hover {
  background-color: #45a049; /* Darker Green */
}
