#button-container {
    display: inline-block;
    justify-content: center;
    margin: 50px 100px 50px 125px;
}

#button {
    position: relative; 
    border: 1px solid lightgray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 500px;
    border-radius: 5px;
    overflow: hidden; /* Ensures the container wraps around the content */
    margin: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
}

#content {
    position: relative; /*?*/
    display: flex;
}

#text {
    flex: 1; /* Take up remaining space */
    margin-left: 10px;
}

#image {
    width: 200px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px;
    margin-left: 20px; /* Add some space between text and image */
}

#price {
    position: absolute;
    top: -10px;
    right: 5px;
    background-color: black;
    border-radius: 5px;
    color: white;
    width: auto;
    padding: 1.5px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#title {
    font-weight: bold;
    font-size: 20px;
}